server:
  port: ${PORT:8081}

spring:
  application:
    name: petri-net-api
  
  r2dbc:
    url: r2dbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:petri_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    pool:
      initial-size: 5
      max-size: 10
  
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

logging:
  level:
    com.yowyob.petrinet: DEBUG
    org.springframework.data.r2dbc: DEBUG
